{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
   {% if category %}
      {{ category.description|truncatewords:155 }}
   {% else %}
       Welcome to cart store where you can buys different items....
   {% endif %}
{% endblock %}
{% block title %}
   {% if category %}
      {{ category.name }} - ABC Store
   {% else %}
      See our new Collections -ABC Store
   {% endif %}
{% endblock %}
{% block content %}
{% if category %}

   {% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image my_image_padding" src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
   {% else %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
           <p><a href="{% url 'shop:allProdCat' %}"> Our Product Collections </a></p>
             <img src="{% static 'img/banner1.png' %}" alt="our products" width="1300px;" height="250px;">
        </div>
    </div>
</div>
     <br>
      <div>
         <h1>Our products Collections</h1>
         <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
{% endif %}
 <div class="container">
    <div class="row mx_auto">
        {% for product in Products.object_list %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4  xol-lg-4">
                    <div class="card text-center" style="min-width:18rem;">
                        <a href="{{ product.get_url }}">
                          <img class="card-img-top my_image" src=" {{product.image.url}}" alt="{{product.name}}"></a>
                        <p>{{ product.price }}</p>
                        <p>{{ product.name }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if Products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in Products.paginator.page_range %}
              <a href="?page={{pg}}" class="btn btn-light btn-sm {% if Products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
 </div>
{% endblock %}